.chef_portal_action_panel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;

    .create_meal_btn {
        margin-right: 20px;
    }
}

.chef_portal_title {
    padding-bottom: 25px;
}

.chef_rating_text {
    padding-bottom: 15px;
}