.navbar_toolbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar_right_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: #f5c027;

        &:hover {
            background-color: #b68e18;

        }
    }
}

.navbar_icon_button {
    color: white;
    margin-left: 15px;
}